* {
  font-family: 'baloo chettan';
  text-align: center;
  margin: 0;
  padding: 0;
  color: #370412
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: #c77c09;
  background: url('/img/background.png') no-repeat center center;
  background-size: cover;
}

.container {
  width: 550px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d6860d;
  box-shadow: 5px 5px 5px #a6690c
}

.top {
  opacity: 0;
  height: 130px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.score {
  width: 160px;
  height: 100%;
}

.score h1 {
  font-size: 1.9em
}

.score p {
  font-size: 5em;
  line-height: 85px;
}

/* middle section css */
.middle {
  height: 280px;
  width: 100%;
}

/* first section elements */
.first {
  margin-top: 15px;
  height: 120px;
  opacity: 1
}

.first button {
  height: 45px;
  width: 150px;
  background: #370412;
  border: none;
  margin-top: 20px;
  border-radius: 3px;
  color: #dc911e;
  font-size: 1.25em;
  transition: all 0.2s ease-in;
}

.first button:hover {
  transition: all 0.2s ease-in;
  background: #5d192c;
  color: #da8a10
}

/* second section elements */
.second {
  opacity: 0;
}

.handsContainer {
  height: 230px;
  display: flex;
  justify-content: space-evenly;
}

.playerHand,
.computerHand {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

img {
  width: 175px;
}

.playerHand img {
  transform: rotateY(180deg);
  /* width: 200px */
}


.messageDisplay {
  height: 50px;
}

/* bottom part */
.bottom {
  opacity: 0;
  height: 50px;
  width: 100%;
}

.bottom button {
  width: 120px;
  height: 45px;
  margin: 10px 8px 0 8px;
  border: none;
  font-size: 1.1em;
  border-radius: 3px;
  background: #370412;
  color: #dc911e;
}

.bottom button:hover {
  background: #5d192c;
  color: #da8a10;
  cursor: pointer;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.3s ease
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.9s ease 0.3s
}

@keyframes shakePlayer {
  0% {
    transform: rotateY(180deg) translateY(0px);
  }

  12.5% {
    transform: rotateY(180deg) translateY(-50px);
  }

  25% {
    transform: rotateY(180deg) translateY(20px);
  }

  37.5% {
    transform: rotateY(180deg) translateY(-50px);
  }

  50% {
    transform: rotateY(180deg) translateY(20px);
  }

  62.5% {
    transform: rotateY(180deg) translateY(-50px);
  }

  75% {
    transform: rotateY(180deg) translateY(20px);
  }

  87.5% {
    transform: rotateY(180deg) translateY(-50px);
  }

  100% {
    transform: rotateY(180deg) translateY(0px);
  }
}

@keyframes shakeComputer {
  0% {
    transform: translateY(0px);
  }

  11% {
    transform: translateY(-50px);
  }

  26% {
    transform: translateY(20px);
  }

  37.5% {
    transform: translateY(-50px);
  }

  50% {
    transform: translateY(20px);
  }

  65% {
    transform: translateY(-50px);
  }

  74% {
    transform: translateY(20px);
  }

  89% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
  }
}


@keyframes shaking {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}

@keyframes addScore {
  0% {
    transform: scale(0.9)
  }

  75% {
    transform: scale(1.2)
  }

  100% {
    transform: scale(1)
  }
}

@media screen and (max-width: 896px) and (orientation: landscape) {
  body, .container {
    height: 720px;
  }
}


@media (max-width: 768px){
  .container {
    width: 500px;
    height: 545px;
  }
  .score h1 {
    font-size: 1.8em
  }
  .score p {
    font-size: 4.8em;
  }
  .middle {
    height: 260px;
  }
  .first {
    height: 110px;
  }
  .first h1 {
    font-size: 1.9em
  };
  .first button {
    font-size: 1.2em;
  }
  .handsContainer {
    height: 210px;
  }
  .playerHand, .computerHand {
    width: 190px;
  }
  img {
    width: 165px;
  }
  .messageDisplay h1 {
    font-size: 1.9em;
  }
  .bottom {
    margin-top: 10px;
  }
}

@media (max-width: 668px) {
  .container {
    width: 420px;
  }
  .score {
    width: 150px;
  }
  .score h1 {
    font-size: 1.7em
  }
  .score p {
    font-size: 4.6em;
  }
  .middle {
    height: 240px;
  }
  .first {
    height: 110px;
  }
  .first h1 {
    font-size: 1.8em
  };
  .first button {
    font-size: 1.1em;
  }
  .handsContainer {
    height: 200px;
  }
  .playerHand, .computerHand {
    width: 175px;
  }
  img {
    width: 150px;
  }
  .messageDisplay h1 {
    font-size: 1.75em;
  }
  .bottom {
    margin-top: 10px;
  }
  .bottom button {
    width: 100px;
    height: 40px;
  }
}

@media (max-width: 568px) {
  .container {
    width: 380px;
    height: 520px;
  }
  .score h1 {
    font-size: 1.6em
  }
  .score p {
    font-size: 4.55em;
  }
  .first h1 {
    font-size: 1.75em;
  }
  .first button {
    height: 40px;
    width: 140px;
  }
  .handsContainer {
    height: 190px;
  }
  .playerHand, .computerHand {
    width: 160px;
  }
  img {
    width: 135px;
  }
  .messageDisplay h1 {
    font-size: 1.6em;
  }
  .bottom button {
    font-size: 1.05em;
    margin: 0 5px;
  }
}



@media (max-width: 468px) {
  .container {
    width: 340px;
    height: 520px;
  }
  .score h1 {
    font-size: 1.6em
  }
  .score p {
    font-size: 4.4em;
  }
  .first h1 {
    font-size: 1.65em;
  }
  .first button {
    height: 40px;
    width: 135px;
  }
  .handsContainer {
    height: 190px;
  }
  .playerHand, .computerHand {
    width: 150px;
  }
  img {
    width: 125px;
  }
  .bottom button {
    font-size: 1.05em;
    width: 88px;
    margin: 0 4px;
  }
}




@media (max-width: 368px) {
  .container {
    width: 320px;
    height: 470px;
  }
  .score h1 {
    font-size: 1.5em
  }
  .score p {
    font-size: 4.3em;
  }
  .middle {
    height: 210px;
  }
  .first h1 {
    font-size: 1.6em;
  }

  .first button {
    font-size: 1em;
  }
  .handsContainer {
    height: 150px;
  }
  .playerHand, .computerHand {
    width: 140px;
  }
  img {
    width: 115px;
  }
  .messageDisplay h1 {
    font-size: 1.5em;
  }

  .bottom button {
    font-size: 1.05em;
  }
}