* {
  padding: 0;
  margin: 0;
  font-family: 'ubuntu'
}
body { 
  background: #85271e
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 830px;
  margin: -415px -350px;
  border-radius: 15px;
  /* border: 5px solid #cb685e; */
  border: 3px solid #f7e4c8;
  background: #85271e;
  box-shadow: 15px 15px 15px #b7b7b7
}

.top{
  width: 100%;
  height: 45px;
  margin: 20px 0;
  text-align: center;
  font-size: 2.5em;
  color: #f7e4c8;
  text-shadow: 4px 4px 2px #54380f;
}

.body{
  width: 100%;
  height: 775px;
}

.clock{
  position: relative;
  width: 100%;
  height: 650px;
}

.inner {
  width: 580px;
  height: 580px;
  /* background: teal; */
  border-radius: 50%;
  margin: 35px 60px;
  position: absolute;
  background: #f7e4c8
}

.outer {
  width: 560px;
  height: 560px;
  background: #85271e;
  border-radius: 50%;
  margin: 9.5px;
  position: absolute;
}

.title{
  text-align: center;
  font-size: 1.5em;
  margin-top: 140px;
  color: #f7e4c8;
  text-shadow: 4px 4px 2px #54380f;
}

.timer {
  /* background: pink; */
  font-size: 10.5em;
  text-align: center;
  margin-top: 10px;
  color: #f7e4c8;
  /* text-shadow: 4px 4px 2px #54380f; */
  text-shadow: 4px 4px 2px #3d290d;
}

.btnAdd{
  /* background: pink; */
  margin-top: 45px;
  text-align: center;
}

i {
  text-shadow: 2px 2px 3px black;
  color: #f0a940;
  margin: 0 20px
}


i:hover{
  color: #bc7c1f;
  text-shadow: 3px 3px 3px black;
}

.audio{
  position: absolute;
  width: 50px;
  bottom: 0;
  right: 0;
  margin-right: 105px;
  margin-bottom: 50px;
}


.btnArea{
  width: 100%;
  height: 10%;
}

.btnBreak {
  text-align: center;
  font-size: 1.2em;
  color: #f7e4c8
}

.breakMin {
  font-size: 1.6em;
  width: 230px;
  margin: 0 auto
  
}
.breakMin div {
  width: 50px;
  float: left;
}

.breakMin .sample {
  width: 130px
}
.breakMin i {
  margin: 0
}

.break{
  color: #f7e4c8;
  font-style: normal;
}

.begin {
  color: #f4cd93;
  font-size: 10.5em;
  animation: beginTime 0.3s linear
}

@keyframes beginTime {
  0% {
    transform: scale(0.97);
  }

  95% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

.clicked {
  color: #946013;
  animation: beginTime 0.3s linear
}

