* {
  font-family: 'Baloo Chettan 2';
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: url('/libs/background.png') no-repeat center center;
  background-size: cover;
}

.container {
  width: 420px;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #005076;
  border-radius: 30px;
}

.header {
  height: 45px;
  width: 350px;
  font-size: 1em;
  color: #BBCEDB;
  
}

.scoreBoard {
  height: 45px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.scoreBoard div {
  height: 40px;
  width: 40%;
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.me {
  color: #ff7a7a;
}

.ai {
  color: #3ac447
}

.me span,
.ai span {
  color: white;
  font-size: 1.3em;
}

.scoreBoard div p span {
  margin-left: 15px;
}

.board {
  background: #005076;
  width: 350px;
  height: 350px;
}

.box {
  width: 112px;
  height: 112px;
  background: #C4E6F5;
  float: left;
  font-size: 5em;
}

.board div:hover {
  cursor: pointer;
}

.a0, .a1, .a3, .a4, .a6, .a7 {
  margin-right: 7px
}

.a0, .a1, .a2, .a3, .a4, .a5 {
  margin-bottom: 7px
}

.reset {
  width: 100%;
}

.reset p {
  margin-top: 20px;
  font-size: 1.2em;
  color: #9eb9d1;
  transition: all 0.2s ease-in;
}

.reset p:hover {
  cursor: pointer;
  color: #D8E8F6;
  transition: all 0.2s ease-in;
}

.click {
  animation: samp 0.2s linear
}

@keyframes samp {
  0% {
    transform: scale(1.3)
  }

  50% {
    transform: scale(1.15)
  }

  100% {
    transform: scale(1)
  }
}

.message{
  height: 60px;
  width: 420px;
}
.sign {
  text-align: center;
  z-index: 5;
  font-size: 1.2em;
  color: #f7a900;
  display: none;
}

.copyright {
  margin-top: 20px
}

.copyright, .sourcecode a {
  color: #C4E6F5;
  font-size: 0.8em;
}

.sourcecode a{
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.sourcecode a:hover {
  color: #97bdce;
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 896px) and (orientation: landscape) {
  body{
    height: 720px;
  }
}

@media (max-width: 568px){
  .container {
    width: 380px;
    height: 488px;
    border-radius: 25px;
  }
  .board {
    width: 340px;
    height: 340px;
  }
  .box {
    font-size: 4.5em;
    width: 108px;
    height: 108px;
  }
  .reset p {
    margin-top: 10px;
  }
  .message{
    width: 380px;
  }
}

@media (max-width: 468px) {
  .container {
    width: 350px;
    border-radius: 16px;
  }

  .board {
    background: #005076;
    width: 320px;
    height: 320px;
  }

  .box {
    width: 102px;
    height: 102px;
    font-size: 4em;
  }

  .message {
    width: 350px;
  }
}

@media (max-width: 368px) {
  .container {
    width: 100%;
    height: 420px;
    border-radius: 0px;
  }
  .scoreBoard, .header, .message {
    width: 100%;
  }
  .board {
    background: #005076;
    width: 280px;
    height: 280px;
  }

  .box {
    font-size: 3.8em;
    width: 88px;
    height: 88px;
  }
}

