* {
  padding: 0;
  margin: 0
}

body {
  margin: 0;
  height: 100vh;
  cursor: none;
  overflow: hidden;
  background: url('../libs/img/background.png');
}

.main{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -250px;
  width: 500px;
  height: 600px;
  border: 2px solid #d6bc00;
  border-radius: 5px;
  box-shadow: 8px 8px 5px #423a03;
  background: rgba(127,119,58,0.1)

}

.top{
  color: #e3ddb1;
  text-shadow: 2px 2px 2px black;
  width: 100%;
  height: 13%;
  text-align: center;
  font-family: 'swanky and moo moo'
}
.body{
  width: 100%;
  height: 87%;
}

.score{
  float: left;
  width: 20%;
  height: 100%;
}

h5 {
  font-size: 1.5em 
}
p {
  font-size: 2.4em
}
.mes{
  float: left;
  width: 60%;
  height: 100%;
}
.message {
  width: 100%;
  height: 100%;
  font-size: 3em
}

.message:hover{
  color: #302e23;
  text-shadow: 2px 4px 2px #e3ddb1;
}

.error{
  text-align: center
}

.box{
  width: 160px;
  height: 166px;
  float: left;
  border: 1px solid #a99400;
  margin: 2.25px;
  box-shadow: 2px 2px 1px black;
  background-size: contain;
  content: '';
  overflow: hidden;
}

.inside{
  position: relative;
  width: 80%;
  height: 95%;
  margin: 2.5% 10%;
  top: 100%;
  background-size: contain;
  transition: all 0.4s;
}

.target{
  animation: showImage 0.2s linear;
  top: 0;
}

@keyframes showImage {
  0% {
    top: 100%;
  }
  100% {
    top: 0px;
  }
}

/* increase animation for scoreboard */
.scoreAnim{
  animation: animTime 0.2s linear
}
@keyframes animTime{
  0% { transform: scale(0.5); }
  60% {
    color: #00cc03;
    transform: scale(1.5);
  }
  100% { transform: scale(1); }
}




/* increase animation for missed board */
.missAnim {
  animation: animMiss 0.3s linear
}
@keyframes animMiss {
  0% { transform: scale(0.5) }
  60% { color: red;
    transform: scale(1.5);
  }
  100% { transform: scale(1) }
}

.timerAnim {
  animation: animScore 0.3s linear
}
@keyframes animScore {
  0% { transform: scale(1) }
  60% {
    color: #00cc03;
    transform: scale(1.2);
  }
  100% { transform: scale(1) }
}